body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: "arial", sans-serif;
    text-transform: uppercase;
}

.play {
    margin: 3% auto;
    width: 100%;
}

img {
    width: 10%;
    border: solid blue 2px;
}

img:hover {
    cursor: pointer;
}

button {
    border: solid 1px blue;
    background-color: lightblue;
    padding: 1% 3%;
}

button:hover {
    cursor: pointer;
}

h2 {
    color: mediumblue;
}